/*=========================
Default CSS==============*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5rem;
	outline: none;
	text-decoration: none;

}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
::selection{
	background: lightcoral;
	color: #fff;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.left{
	float: left;
}.left::before{
	content: "";
	clear: both;
	display: block;
}

.right{
	float: right;
}.right::before{
	content: "";
	clear: both;
	display: block;
}
img{
	max-width: 100%;
}




/*===================================
Header Area========================*/

#headerArea{
	background: #273c66;
	color: #fff;

}
.headerWrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.headerLeft a{
	color: #fff;
	transition: all 0.3s ease-in-out;
}
.headerLeft a:hover{
	color: goldenrod;
}

.primaryMenu{
	cursor: pointer;
}
.primaryMenu ul{
    list-style: none;
}
.primaryMenu ul li{
    display: inline-block;
}
.primaryMenu ul li a{
	display: block;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
    padding: 20px;
}

.primaryMenu ul li{
    position: relative;
}
.primaryMenu ul li ul{
    position: absolute;
    top: 100%;
    left: -3px;
    height: auto;
    background: #273c96 !important;
    text-align: left;
    z-index: 22;    
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: top left;
    display: block;

}
.primaryMenu ul li:hover{
	background: red;
}
.primaryMenu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}
.primaryMenu ul li ul a{
	display: block;
    color: #fff;
    width: 100%;
    height: 100%;
}

.primaryMenu ul li ul li{
    position: relative;
}
.primaryMenu ul li ul li ul{
    position: absolute;
    top: 0;
    left: -100%;
}
.primaryMenu ul li ul{
    background: #fff;

}
.primaryMenu ul li ul li{
    width: 115px;
    display: block;
}
.primaryMenu ul li ul li .subDropdown{
    opacity: 0;
    visibility: hidden;
    display: block;
    transform: scaleY(0);
    transition: 0.5s;
    transform-origin: top;
}
.primaryMenu ul li ul li:hover .subDropdown{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);

}


.defualtBtn{
	background: #273c66;
	color: #fff;
	padding: 13px 30px;
	font-size: 22px;
	position: relative;
	z-index: 2;
	outline: none;
	border: none;
	border-radius: 5px;

}
.defualtBtn::before{
	content: "";
	position: absolute;
	left: 0%;
	top: 0;
	width: 0%;
	height: 100%;
	background: red;
	display: block;
	z-index: -1;
	transition: 0.4s;
	border-radius: 5px;

}
.defualtBtn:hover::before{
	width: 100%;
}




.contact{
    margin-top: 100px;
}
.contact h1{
    text-align: center;
    margin-bottom: 40px;
}
.contactContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contactLeft{
    flex-basis: 40%;
}
.contactLeft h2{
    margin-bottom: 30px;
}
.contactRight{
    flex-basis: 50%;
}
.contact form input{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 15px;
    font-size: 16px;
    border: none;
    border: 1px solid #8dcd37;
}
.contact form textarea{
    padding: 15px;
    width: 100%;
}
.contact form input:focus{
    border: none;
   border: 1px solid #8dcd37;
}




/*=======================================
Footer Area============================*/

footer{
	background: #273c66;
	padding: 15px 0;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 7vh;
}
footer h3{
	text-align: center;
}
